section header h2{
  font-weight: 900;
  font-size: 38px;
  line-height: 110%;
  margin-bottom: 25px;

}

.row{
  display: flex;
  flex-direction: row;
  > div{
    flex-grow: 1;
  }
}

.tag-50 {
  background-color: #fff;
  color: #506A85;
  a {
      color: #506A85;
      text-decoration: none;
  }
  a:hover{
      border-bottom: #EB0149 2px solid;
  }
}
