@import '../layout/layout';
@import '../themes/colors';
html > body {
    background-color: #f0f0f0;
    height: initial;
}
main {
    width: 1024px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px 0 #555555;
    z-index: 0;
}
nav+main {
    padding: calc(20px + #{$nav-height}) 20px 20px 20px;
}
div.to-be-changed {
    padding: 20px;
    background-color: $amber-50;

}