@import '../layout/layout';
@import '../themes/colors';
nav.navbar {
    height: $nav-height;
    padding: 0 0 0 30px;
    line-height: 80px;
    width: 100%;
    // position: fixed;
    box-shadow: 0 0 10px 2px #555555;
    z-index: 10;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-flex;

        li {
            padding: 0 0 0 30px;
            font-size: 16px;

            a {
                display: block;
                height: 75px;
            }
            a:hover {
                border-bottom: 5px solid $tag-commander-purple;
            }
        }
        li.brand {
            font-weight: bold;
            padding: 0;
            font-size: 20px;
            a{
              //padding-top:10px;
              img{
                width:130px;
                margin-top: 10px;
              }
            }
        }
    }
}
