@import '../themes/colors';

pre {
    background-color: #282828;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 #555555;
    border-left: $tag-commander-purple solid 20px;
    overflow-x: auto;

    code.comment {
        color: $teal-500;
    }
    code.keyword {
        color: $blue-500;
    }
    code.varible {
        color: $light-blue-100;
    }
    code.string {
        color: $orange-500;
    }
    code.method {
        color: $amber-500;
    }
}
